#include <windows.h>
#include "resource.h"

IDI_INSTALLER_ICON ICON "assets/icons/app-icon.ico"
1 24 "installer/installer.manifest"

1 VERSIONINFO
 FILEVERSION 2,4,2,0
 PRODUCTVERSION 2,4,2,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "xiumu-ops\0"
            VALUE "FileDescription", "Codex-Quota-Bar Uninstaller\0"
            VALUE "FileVersion", "2.4.2\0"
            VALUE "OriginalFilename", "Uninstall.exe\0"
            VALUE "ProductName", "Codex-Quota-Bar\0"
            VALUE "ProductVersion", "2.4.2\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
